@blue: #04488d;
@azul-claro: #00478e;
@cinza: #b9b9b9;
@cinza-claro: #e1e1e1;
@amarelo: #fae100;
@red: #e4302f;
@verde-claro: #88d392;



.rounded(@round){
	border-radius: @round;
	-o-border-radius: @round;
	-moz-border-radius: @round;
	-ms-border-radius: @round;
	-webkit-border-radius: @round;
}

.transition(@time){
	-webkit-transition: @time;
  -moz-transition: @time;
  -o-transition: @time;
  transition: @time;
}

.btn{
	.rounded(0px);
	padding: 10px 24px;
}

.btn-primary{
	background-color: @azul-claro;
	border-color: @azul-claro;
	&:hover{
		background-color: @azul-claro + 30;
	}
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}



.form-control{
	border-right-style: none;
	box-shadow: none;
	border-width: 2px;
	background-color: #fafafa;
}

.input-group-btn{
	.btn-default{
		background-color: #fafafa;
		padding: 3px 7px;
		border-left: none;
		border-width: 2px;
		i{
			color: @blue;
			font-size: 22px;
		}
	}	
}




select.form-control{
	border-right-style: solid;
}

.topo{
	margin-top: 30px;
	h3.titulo{
		color: @blue;
		font-weight: 600;
	}
	p.subtitulo{
		color: @cinza;
		font-size: 14px;
		margin-bottom: 40px;
	}
	.share-box{
		p{
			color: @cinza;
			text-align: center;
		}
		.wrap-social-icons{
			display: table;
			margin: 0 auto;
			a{
				margin: 0 5px;
				text-decoration: none;
			}
			i{
				color: #fff;
				font-size: 28px;
				.rounded(50%);
				&.fa-facebook{
			    padding: 10px 16px;
    			
					background-color: #3b5999;
				}
				&.fa-twitter{
					padding: 10px 11px;
					background-color: #54aced;
				}
			}
		}
	}
}


#home{
	margin-bottom: 40px;
	.lista-quizz{
		margin: 30px -15px;
		.item{
			margin: 20px 0px;
			border-color: #ececec;
			.transition(0.2s);
			position: relative;
			&:hover{
				.transition(0.2s);
				border: 8px solid #ececec;
			}
			img.background{
				width: 100%;
			}
			.flag{
				position: absolute;
		    top: 0px;
		    right: 60px;
			}
			
			.bottom{
				padding: 20px 0px;
				background-color: rgba(236, 236, 236, 0.8);
				position: absolute;
				bottom: 0px;
				width: 100%;
				p{
					text-align: center;
					color: @blue;
					margin: 0px;
					line-height: 1.2em;
					&.titulo{
						font-size: 20px;
						font-weight: 600;
					}
				}
				
			}
		}
	}
	.alert-carregando{
		i{
			display: table;
			margin: 0 auto;
		}
		p{
			text-align: center;
			font-size: 16px;
		}
	}
	.btn-carregar-mais{
		display: table;
		margin: 0 auto;
	}
}

.social-box-bottom{
	p{
		color: @blue;
		text-align: center;
	}
	.icons-wraper{
		display: table;
		margin: 20px auto;
		a{
			img{
				width: 45px;
				margin: 0px 15px;
				&.facebook{

				}
			}
		}
	}
}

#teste{
	margin-top: 30px;

	.titulo{
		color: @blue;
		font-weight: 600;
	}
	.box-test{
		.num_ask{
			text-align: center;
			background-color: @blue;
			color: @amarelo;
			padding: 10px 0px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.body{
			margin: 20px 0px;
			border-color: #ececec;
			.transition(0.2s);
			position: relative;
			&:hover{
				.transition(0.2s);
				border: 8px solid #ececec;
			}
			img.background{
				width: 100%;
			}
			.flag{
				position: absolute;
		    top: 0px;
		    right: 60px;
			}
			
			.bottom{
				padding: 20px 0px;
				background-color: rgba(236, 236, 236, 0.8);
				position: absolute;
				bottom: 0px;
				width: 100%;
				p{
					text-align: center;
					color: @blue;
					margin: 0px;
					line-height: 1.2em;
					&.titulo{
						font-size: 20px;
						font-weight: 600;
					}
				}
				
			}
		}
		.options{
			label{
				width: 100%;
				color: @blue;
				background-color: @cinza-claro;
				padding: 15px 20px;
				font-weight: 700;
				margin: 5px 0px;
				cursor: pointer;
			}
			input[type=radio]:checked + label{
				background-color: @blue;
				color: @amarelo;
			}
			input[type=radio]{
				display: none;
				&.correct + label{
					background-color: @verde-claro;
					color: #fff;
				}
				&.wrong + label{
					background-color: @red;
					color: @amarelo;
				}
			}
		}
	}
	
}
