@blue: #04488d;
@azul-claro: #00478e;
@cinza: #b9b9b9;
@cinza-claro: #e1e1e1;
@amarelo: #fae100;
@red: #e4302f;
@verde-claro: #88d392;



.rounded(@round){
	border-radius: @round;
	-o-border-radius: @round;
	-moz-border-radius: @round;
	-ms-border-radius: @round;
	-webkit-border-radius: @round;
}

.transition(@time){
	-webkit-transition: @time;
	-moz-transition: @time;
	-o-transition: @time;
	transition: @time;
}

.alert{
	background-image: none;
}

.btn{
	.rounded(0px);
	padding: 10px 24px;
	background-image: none;
}

.btn-primary{
	background-color: @azul-claro;
	border-color: @azul-claro;
	&:hover{
		background-color: @azul-claro + 30;
	}
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}



.form-control{
	border-right-style: none;
	box-shadow: none;
	border-width: 2px;
	background-color: #fafafa;
}

.input-group{
	.input-group-btn{
		.btn-default{
			background-image: none;
			background-color: #fafafa;
			padding: 3px 7px;
			border-left: none;
			border-width: 2px;
			i{
				color: @blue;
				font-size: 22px;
			}
		}	
}
}





select.form-control{
	border-right-style: solid;
}

.topo{
	margin-top: 30px;
	h3.titulo{
		color: @blue;
		font-weight: 600;
	}
	p.subtitulo{
		color: @cinza;
		font-size: 14px;
		margin-bottom: 40px;
	}
	.share-box{
		p{
			color: @cinza;
			text-align: center;
		}
		.wrap-social-icons{
			display: table;
			margin: 0 auto;
			a{
				margin: 0 5px;
				text-decoration: none;
			}
			i{
				color: #fff;
				font-size: 28px;
				.rounded(50%);
				&.fa-facebook{
			    padding: 10px 16px;
    			
					background-color: #3b5999;
				}
				&.fa-twitter{
					padding: 10px 11px;
					background-color: #54aced;
				}
			}
		}
	}
}


#home{
	margin-bottom: 40px;
	.lista-quizz{
		margin: 30px -15px;
		.item{
			margin: 20px 0px;
			border-color: #ececec;
			.transition(0.2s);
			position: relative;
			&:hover{
				.transition(0.2s);
				border: 8px solid #ececec;
			}
			img.background{
				width: 100%;
			}
			.flag{
				position: absolute;
		    top: 0px;
		    right: 60px;
			}
			
			.bottom{
				padding: 20px 0px;
				background-color: rgba(236, 236, 236, 0.8);
				position: absolute;
				bottom: 0px;
				width: 100%;
				p{
					text-align: center;
					color: @blue;
					margin: 0px;
					line-height: 1.2em;
					&.titulo{
						font-size: 20px;
						font-weight: 600;
					}
				}
				
			}
		}
	}
	.alert-carregando{
		display: none;
		i{
			display: table;
			margin: 0 auto;
		}
		p{
			text-align: center;
			font-size: 16px;
		}
	}
	.btn-carregar-mais{
		background-image: none;
		display: table;
		margin: 0 auto;
	}
}

@media screen and(max-width: 768px){
	#home{
		.lista-quizz{
			.item{
				.flag{
					right: 20px;
			    width: 40px;
				}
			}
		}
	}
}

.social-box-bottom{
	p{
		color: @blue;
		text-align: center;
	}
	.icons-wraper{
		display: table;
		margin: 20px auto;
		a{
			img{
				width: 45px;
				margin: 0px 15px;
				&.facebook{

				}
			}
		}
	}
}

@media screen and(max-width: 768px){
	.social-box-bottom{
		.icons-wraper{
			a{
				img{
					width: 30px;
				}
			}
		}
	}
	
}

#teste{
	margin: 30px 0px;

	.titulo{
		color: @blue;
		font-weight: 600;
	}
	.box-test{
		.num_ask{
			text-align: center;
			background-color: @blue;
			color: @amarelo;
			padding: 10px 0px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.body{
			margin: 20px 0px;
			border-color: #ececec;
			.transition(0.2s);
			position: relative;
			img.background{
				width: 100%;
			}
			.flag{
				position: absolute;
		    top: 0px;
		    right: 60px;
			}
			
			.bottom{
				padding: 20px 0px;
				background-color: rgba(236, 236, 236, 0.8);
				position: absolute;
				bottom: 0px;
				width: 100%;
				p{
					text-align: center;
					color: @blue;
					margin: 0px;
					line-height: 1.2em;
					&.titulo{
						font-size: 20px;
						font-weight: 600;
					}
				}
				
			}
		}
		.options{
			label{
				width: 100%;
				color: @blue;
				background-color: @cinza-claro;
				padding: 15px 20px;
				font-weight: 700;
				margin: 5px 0px;
				cursor: pointer;
			}
			input[type=radio]:checked + label{
				background-color: @blue;
				color: @amarelo;
			}
			input[type=radio]{
				display: none;
				&.correct + label{
					background-color: @verde-claro;
					color: #fff;
				}
				&.wrong + label{
					background-color: @red;
					color: @amarelo;
				}
			}
		}
	}
	
}

@media screen and(max-width: 768px){
	#teste{
		.box-test{
			.body{
				.flag{
			    right: 20px;
			    width: 40px;
				}
			}
		}
	}
}



#result{
	margin-top: 30px;
	.titulo{
		color: @blue;
		font-weight: 600;
	}
	.result-box{
		margin-top: 20px;
		.title{
			text-align: center;
			background-color: @blue;
			color: @amarelo;
			padding: 10px 0px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.body{
			margin: 20px 0px;
			border-color: #ececec;
			.transition(0.2s);
			position: relative;
			&:hover{
				.transition(0.2s);
				border: 8px solid #ececec;
			}
			img.background{
				width: 100%;
			}
			.flag{
				position: absolute;
		    top: 0px;
		    right: 60px;
		    z-index: 5;
			}
			

			.bottom{
				padding: 130px 40px;
				background-color: rgba(236, 236, 236, 0.8);
				position: absolute;

				bottom: 0px;
				height: 100%;
				width: 100%;
				p{
					//text-align: center;
					color: @blue;
					margin: 0px;
					&.titulo{
						font-size: 30px;
						font-weight: 700;
						span{
							text-decoration: underline;
						}
					}
					&.description{
						font-size: 20px;
					}
				}
				
			}
		}
		.share-box{
			padding: 0px 20px;
			margin-bottom: 20px;
			a{
				.rounded(5px);
		    color: #fff;
		    padding: 15px 20px;
		    width: 100%;
		    display: block;
		    font-weight: 300;
		    text-align: center;
		    font-size: 16px;
		    text-decoration: none;
		    margin-bottom: 20px;
		    span{
		    	position: relative;
		    	float: left;
		    	&:before{
    		    display: table;
				    content: '';
				    width: 1px;
				    height: 52px;
				    background-color: rgba(255, 255, 255, 0.13);
				    position: absolute;
				    left: 50px;
    				top: -14px;
		    	}
		    }
		    &:hover{
		    	text-decoration: none;
		    }
				&.facebook{
					background-image: linear-gradient(to bottom, #548bc3, #315198 55%);
				}
				&.twitter{
					background-image: linear-gradient(to bottom, #20c7ea, #129dda 55%);
				}
				&.email{
					background-image: linear-gradient(to bottom, #d0d6cd, #bacac3 55%);
					i{
						color: #7d7d7d;
					}
				}
				&.wpp{
					background-image: linear-gradient(to bottom, #45995a, #31853d 55%);
				}
				i{
					vertical-align: middle;
					font-size: 30px;
					float: left;
			    bottom: 4px;
			    position: relative;
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	#result{
		.result-box{
			.title{
				text-align: center;
				background-color: @blue;
				color: @amarelo;
				padding: 10px 0px;
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			.body{
				
				&:hover{
					.transition(0.2s);
					border: 8px solid #ececec;
				}
				img.background{
					width: 100%;
				}
				.flag{
					position: absolute;
			    top: 0px;
			    right: 20px;
			    z-index: 5;
			    width: 40px;
				}
				

				.bottom{
					padding: 15% 20px;
					background-color: rgba(236, 236, 236, 0.8);
					position: absolute;

					bottom: 0px;
					height: 100%;
					width: 100%;
					p{
						//text-align: center;
						color: @blue;
						margin: 0px;
						&.titulo{
							font-size: 20px;
							font-weight: 700;
							span{
								text-decoration: underline;
							}
						}
						&.description{
							font-size: 14px;
						}
					}
					
				}
			}
			.share-box{
				padding: 0px 20px;
				margin-bottom: 20px;
				a{
					.rounded(5px);
			    color: #fff;
			    padding: 15px 20px;
			    width: 100%;
			    display: block;
			    font-weight: 300;
			    text-align: center;
			    font-size: 16px;
			    text-decoration: none;
			    margin-bottom: 20px;
			    span{
			    	position: relative;
			    	float: left;
			    	&:before{
	    		    display: table;
					    content: '';
					    width: 1px;
					    height: 52px;
					    background-color: rgba(255, 255, 255, 0.13);
					    position: absolute;
					    left: 50px;
	    				top: -14px;
			    	}
			    }
			    &:hover{
			    	text-decoration: none;
			    }
					&.facebook{
						background-image: linear-gradient(to bottom, #548bc3, #315198 55%);
					}
					&.twitter{
						background-image: linear-gradient(to bottom, #20c7ea, #129dda 55%);
					}
					&.email{
						background-image: linear-gradient(to bottom, #d0d6cd, #bacac3 55%);
						i{
							color: #7d7d7d;
						}
					}
					&.wpp{
						background-image: linear-gradient(to bottom, #45995a, #31853d 55%);
					}
					i{
						vertical-align: middle;
						font-size: 30px;
						float: left;
				    bottom: 4px;
				    position: relative;
					}
				}
			}
		}
	}
}

#btnNext{
	display: none;
	width: 100%;
}
#btnVerResultado{
	display: block;
	display: none;
	width: 100%;
}